@{
    Layout = null;
}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Vistas/Inicio">
        <div class="sidebar-brand-icon">
            <img src=@Url.Content("~/Template/img/ITSONMARCA2.png") width="80%" />
        </div>
    </a>

    <!-- Divisor -->
    <hr class="sidebar-divider">

    <!-- Titulo -->
    <div class="sidebar-heading">
        MENÚ
        <p></p>
    </div>

    <!-- Divisor -->
    <hr class="sidebar-divider">

    <!-- Empieza la construcción del menú -->
    <div id="menu">

    </div>

</ul>