
@{
    ViewBag.Title = "ModulosAtencion";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section scripts{
    @Scripts.Render("~/js/modulosAtencion")
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Módulos de atención</h1>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <input type="button" id="btnNuevo" name="btnNuevo" class="btn btn-primary" value="Nuevo">
    </div>
</div>
<br />
<div class="row">
    <div id="gridModulosAtencion" class="col-lg-12 mb-4">
    </div>
</div>
<hr />

<!-- Modal -->
<div id="modalModulosAtencion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmModulosAtencion" name="frmModulosAtencion">
                    <input type="hidden" id="hidId" name="hidId" />
                    <div class="form-group">
                        <label for="txtNombre">Nombre</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="chkActivo">Activo</label>
                        <div id="chkActivo"></div>
                    </div>
                    <div class="form-group">
                        <label for="cboArea">Área de atención</label>
                        <div id="cboArea"></div>
                    </div>
                    <div class="form-group">
                        <label for="gridProcesos">Procesos</label>
                        <div id="gridProcesos"></div>
                    </div>
                    <div class="form-group">
                        <label for="gridUsuarios">Usuarios</label>
                        <div id="gridUsuarios"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnCerrar" name="btnCerrar" class="btn btn-secondary" value="Cerrar" data-dismiss="modal">
                <input type="button" id="btnAccion" name="btnAccion" class="btn btn-primary" value="">
            </div>
        </div>
    </div>
</div>
